.mat-button-wrapper{
    font-size: 130%;
}


nav{
    background-color: rgb(230, 225, 225);
    opacity: 0.9;
    filter: Alpha(opacity=80); 
}

@media (max-width: 800px) {
 
    .navRight {
        display: none;
    }


}

@media (min-width: 800px) {
 
    .button1{
        display: none;
    }

}


