<!--
<mat-toolbar>
    <nav class="navbar navbar-default navbar-static-top">
<div class="container">
      <div class="navbar-header">
          <a class="navbar-brand"  [routerLink]="['/home']" >WebSiteName</a>
      </div>
      <div >
      <ul class="nav navbar-nav navbar-right" >
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/cars']">Cars</a></li>
        <li><a [routerLink]="['/']">Info</a></li>
        <li><a [routerLink]="['/contacts']">Contacts</a></li>
      </ul>
    </div>
    
</div>
</nav>
</mat-toolbar>


<mat-toolbar>
<div class="container">
      <div class="navbar-header">
          <a class="navbar-brand"  [routerLink]="['/home']" >WebSiteName</a>
      </div>
      <div >
      <ul class="nav navbar-nav navbar-right" >
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/cars']">Cars</a></li>
        <li><a [routerLink]="['/']">Info</a></li>
        <li><a [routerLink]="['/contacts']">Contacts</a></li>
      </ul>
    </div>
    
</div>
</mat-toolbar>
-->
<nav class="docs-navbar-header navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false"
          [routerLink]="['/']">
          <span class="mat-button-wrapper"><b>Kostadinov Design</b></span>
          <div class="mat-button-focus-overlay"></div>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false"
          [routerLink]="['/']">
          <span class="mat-button-wrapper"><b>Home</b></span>
          <div class="mat-button-focus-overlay"></div>
        </a>
      </li>
      <li>
        <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false"
          [routerLink]="['/cars']">
          <span class="mat-button-wrapper"><b>Cars</b></span>
          <div class="mat-button-focus-overlay"></div>
        </a>
      </li>
      <li>
        <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false"
          [routerLink]="['/info']">
          <span class="mat-button-wrapper"><b>About us</b></span>
          <div class="mat-button-focus-overlay"></div>
        </a>
      </li>

      <li>
        <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false"
          [routerLink]="['/contacts']">
          <span class="mat-button-wrapper"><b>Constacts</b></span>
          <div class="mat-button-focus-overlay"></div>
        </a>
      </li>
    </ul>
  </div>

</nav>

