
<nav class="docs-navbar-header navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" 
          [routerLink]="['/']">
          <span class="mat-button-wrapper"><b>Kostadinov Design</b></span>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right navRight">
      <li>
        <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" 
          [routerLink]="['/']">
          <span class="mat-button-wrapper"><b>Начало</b></span>
          <div class="mat-button-focus-overlay"></div>
        </a>
      </li>
      <li>
        <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button=""  
          [routerLink]="['/cars']">
          <span class="mat-button-wrapper"><b>Готови проекти</b></span>
          <div class="mat-button-focus-overlay"></div>
        </a>
      </li>
      <li>
          <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button=""  
            [routerLink]="['/services']">
            <span class="mat-button-wrapper"><b>Услуги</b></span>
            <div class="mat-button-focus-overlay"></div>
          </a>
        </li>
      <li>
        <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button=""  
          [routerLink]="['/info']">
          <span class="mat-button-wrapper"><b>За нас</b></span>
          <div class="mat-button-focus-overlay"></div>
        </a>
      </li>

      <li>
        <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button=""  
          [routerLink]="['/contacts']">
          <span class="mat-button-wrapper"><b>Контакти</b></span>
          <div class="mat-button-focus-overlay"></div>
        </a>
      </li>
    </ul>
  </div>

</nav>

