
<div class="container">
      <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
          
          <h1>Informaiton</h1>
          <mat-card class="details-info-card"
          *ngIf="currentCar">
            <div class="info">
                <h3>категория: {{currentCar.category}}</h3>
                <h3>описание: {{currentCar.title}}</h3>
          </div>
        </mat-card>
      </div>
  
      <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
        <h1 class="gallery">Gallery</h1>
        <br/>
        
      
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages">
        </ngx-gallery>
      
    </div>
  
  </div>