agm-map {
    height: 300px;
    max-width: 500px;
  }


.contacts-card{
    padding: 10px;
    background-color: rgb(230, 225, 225);
    font-size: 140%;
    height: 220px;
    margin-bottom: 10px;
    opacity: 0.9;
    filter: Alpha(opacity=80);
}

.fb-like-card{
    background-color: rgb(230, 225, 225);
    opacity: 0.9;
    filter: Alpha(opacity=80);
}

mat-grid-tile{
    background-color: rgb(230, 225, 225);
    
}



