<section id="contact">
  <div class="container">

    <h1>Contact Us</h1>
    <div class="container">
        <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
            <div class="contacts">
                <p><b>Телефон за връзка:</b></p>
                <p><mat-icon>phone</mat-icon> 0889 000 000</p>
                <p><mat-icon>phone</mat-icon> 0889 000 000</p>
                <p><mat-icon>email</mat-icon> kostadinov.design.mail.com</p>
                <p><i class="glyphicon glyphicon-envelope"></i> kostadinov.design.mail.com</p>
              </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
            <div class="contacts">
                <p><b>Адрес:</b></p>
                <p><mat-icon>phone</mat-icon> 0889 000 000</p>
                <p><mat-icon>phone</mat-icon> 0889 000 000</p>
              </div>
        </div>

    </div>
    
    <h2>Location</h2>
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</section>