agm-map {
    height: 300px;
    max-width: 500px;
  }

.contacts{
    padding: 10px;
    background-color: rgb(230, 225, 225);
    font-size: 150%;
    height: 220px;
    margin-bottom: 10px;
}

mat-grid-tile{
    background-color: rgb(230, 225, 225);
    
}



