<section id="contact">
  <div class="container">

    <h1>Contact Us</h1>
    <div class="container">
        <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
            <mat-card class="contacts-card">
                <p><b>Телефон за връзка:</b></p>
                <p><mat-icon>phone</mat-icon> 0879056665</p>
                <p><mat-icon>email</mat-icon> kostadinovdesign.gmail.com</p>
                <p><i class="glyphicon glyphicon-envelope"></i> kostadinovdesign.gmail.com</p>
            </mat-card>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12">
            <mat-card class="contacts-card">
                <p><b>Адрес:</b></p>
                <p><mat-icon>address</mat-icon> 0889 000 000</p>
                <p><mat-icon>like</mat-icon> 0889 000 000</p>
              </mat-card>
        </div>

        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
            <mat-card class="fb-like-card">
                    <div class="fb-like" data-href="https://www.facebook.com/Kostadinov-Design-742043642649405/" 
                    data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
              </mat-card>
        </div>

    </div>
    
    <h2>Location</h2>
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</section>