<header>
  <app-header></app-header>
  <div class="button1">
  <button mat-button (click)="sidenav.toggle()">
    <mat-icon class="mat-icon material-icons" role="img">menu</mat-icon>
  </button>
</div>
</header>


<mat-sidenav-container class="sidenav-container" (backdropClick)="close('backdrop')">
  <mat-sidenav class="sidenav" #sidenav (keydown.escape)="close('escape')" disableClose>
        <div>
            <a class="side-Button" mat-button="" 
              [routerLink]="['/']"
              (click)="sidenav.close()">
              <span class="mat-button-wrapper"><b>Home</b></span>
              <div class="mat-button-focus-overlay"></div>
            </a>
          </div>
          <div>
            <a class="side-Button" mat-button=""  
              [routerLink]="['/cars']"
              (click)="sidenav.close()">
              <span class="mat-button-wrapper"><b>Cars</b></span>
              <div class="mat-button-focus-overlay"></div>
            </a>
          </div>
          <div>
              <a class="side-Button" mat-button=""  
              [routerLink]="['/info']"
              (click)="sidenav.close()">
              <span class="mat-button-wrapper"><b>About us</b></span>
              <div class="mat-button-focus-overlay"></div>
            </a>
          </div>
          <div>
              <a class="side-Button" mat-button=""  
              [routerLink]="['/contacts']"
              (click)="sidenav.close()">
              <span class="mat-button-wrapper"><b>Constacts</b></span>
              <div class="mat-button-focus-overlay"></div>
            </a>
          </div>
  </mat-sidenav>


  <mat-sidenav-content class="content">
    <div>
      <router-outlet></router-outlet>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


