.content{
    background: transparent;
}


@media (min-width: 800px) {
 
    .button1{
        display: none;
    }

}

.sidenav-container{
    background: rgba(255,255,255,0.0);
}
.sidenav{
    width: 200px
}

