img {
  display: block;
  margin: auto;
  width: 65%;
}
.carousel-class{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 220px;
}


@media (max-width: 1000px) {

  .carousel-class{
      margin-bottom: 400px;
  }
}

